.instructions-container {
    position: absolute;
    border: 1px solid black;
    background-color: rgb(245, 245, 98);
    padding: 3px 5px;
    border-radius: 5px;
    width: 100px;
    z-index: 5;
    box-shadow: 5px 10px 8px black;
    display: none;
}

.instruction-div {
  position: absolute;
  top: 50px;
  left: calc(50% + 200px);
  animation: slowFadeIn 2.5s;
}


.show {
    display:block;
}

.hide {
    display: none;
}

.instr-btn {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(238, 186, 108);
    border-radius: 5px;
    transition: background-color 0.25s;
}

.instr-btn:hover {
    cursor: pointer;
    background-color: rgb(222, 133, 0);
}

#remove-instr {
  bottom: 60px;
}

#attr-instr {
    left: 160px;
    top: -15px;
}

#hover-instr {
    top: 100px;
    left: 375px;
}

.beer-list-instr {
    left: -120px;
    bottom: -25px;
}