.beer-info {
    display: flex;
}

.graph {
    padding-left: 20%;
    display: flex;
    flex-direction: column;
}

#beer-drpdwn {
    width: 20%;
    padding: 5px 10px;
    position: relative;
    left: -13%;
}

#beer-list {
    list-style-type: none;
    padding-left: 0;
}

.graph-title {
    font-size: 28px;
    font-weight: 700;
}

.axis-label {
    font-size: 20px;
}

.x-axis-value {
    font-size: 12px;
}

.fa-minus-circle {
    padding-right: 10px;
    color: black;
    transition: color 0.25s;
}

.fa-minus-circle:hover {
    cursor: pointer;
    color: red;
}

.beer-item {
    font-size: 16px;
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}

.delete-beer {
    opacity: 1;
    animation: fadeOut 1s 1;
}

#search-beer {
    padding: 3px 5px;
}

#search-btn:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes fadeOut {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}