.beer-info {
    display: flex;
}

.graph {
    padding-left: 20%;
    display: flex;
    flex-direction: column;
}

#beer-drpdwn {
    width: 20%;
    padding: 5px 10px;
    position: relative;
    left: -13%;
}

.graph-title {
    font-size: 28px;
    font-weight: 700;
}

.axis-label {
    font-size: 20px;
}

.x-axis-value {
    font-size: 12px;
}