#beer-btn:hover {
    cursor: pointer;
}

.new-beer {
    /* color: red; */
    font-size: 16px;
    animation: red-text-fade-away 6s;
}

@keyframes red-text-fade-away {
    0% { color: red; }
    75% { color: red; }
    100% { color: black; }
}